#result {
  /* Стили для результата */
  font-size: 18px;
  color: var(--primary-3); /* Основной цвет 3 */
  font-weight: bold;
}

.quantity-btn, .months-btn, .diameter-btn {
  /* Стили для кнопок */
  padding: 10px 20px;
  background-color: var(--border); /* Цвет фона */
  color: var(--text-color-headline); /* Цвет текста */
  border: none;
  border-radius: 5px; /* Радиус скругления углов */
  cursor: pointer;
  margin: 5px;
}

.quantity-btn.active, .months-btn.active, .diameter-btn.active {
  background-color: var(--primary-3); /* Основной цвет 3 */
}



  
.switch-container {
  /* Стили для контейнера переключателя */
  position: relative;
  display: inline-block;
}

.switch {
  /* Стили для переключателя */
  display: none;
}

.switch-label {
  /* Стили для метки переключателя */
